/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Reference for SMACSS organization for CSS: https://smacss.com/book/categorizing */

/* 20px font w/ 26px line-height (https://www.modularscale.com/?20&px&1.414)
    Base: 20px / 16px = 1.25em        26px / 20px = 1.3em
    +1: 28.28px / 20px = 1.414em      39px / 28.28px = 1.37907em
    +2: 39.988px / 20px = 1.9994em    52px / 39.988px = 1.30039em
*/

/* Color palette: http://paletton.com/#uid=1000u0kw0pB7AiY3tX3S5jcXV0R */

/* ===== Base Rules ===== */
body {
  display: block;
  font-size: 1.25em;
  line-height: 1.3em;
  font-family: sans-serif;
  background-color: #efefef;
}

h1 {
  font-size: 1.9994em;
  line-height: 1.30039em;
  background-color: #080000;
  color: #efefef;
  padding: 0.25008em 0.50015em;
}

h2 {
  font-size: 1.414em;
  line-height: 1.8387553041em; /* 1.2em */
  background-color: #cc0000;
  color: #efefef;
  padding: 0 0.70721em;
}

section, form {
  padding-bottom: 0.65em;
}

p {
  padding-top: 0.65em;
  padding-left: 1em;
}

label {
  padding-left: 1em;
}

#payment li {
  padding-top: 0.65em;
  padding-right: 1em;
}

img {
  display: block;
  max-width: 100%;
}

input, select {
  display: table;
  max-width: 95%;
  margin-left: 1em;
}

input[type="submit"] {
  font-size: 1em;
  border-radius: 0;
  width: 100%;
  padding: 0.325em 0;
  margin-top: 0.65em;
  background-color: #080;
  color: #fff;
}

input[type="submit"]:disabled {
  background-color: #030;
  color: #444;
}

.error + input {
  background-color: #ffd1d1;
}

/* ===== Layout Rules ===== */
#movie-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.325em;
  padding: 0.325em;
}

#sort-by {
  background: #990000;
}

#reset-sort {
  background: #efefef;
  border-radius: 0.325em;
  color: #CC0000;
  display: block;
  margin: 0 1em;
  padding: 0.325em 1em;
  text-decoration: none;
  text-align: center;
}

#result-message {
  padding-right: 1em;
}

/* RULES FOR TIME & TICKETS - will reorder soon */
.time-heading,
.ticket-heading {
  text-align: inherit;
  padding-bottom: 2em;
}

#movie-date-selected {
  text-align: inherit;
  font-size: 0.75em;
}

.time-list li,
.ticket-list li {
  list-style: none;
  padding-bottom: 1.5em;
  text-align: inherit;
}

#show-time, #ticket-type {
  background-color: green;
  border-radius: 1em;
  color: white;
  float: inherit;
  cursor: pointer;
  font-size: 60%;
  min-height: 3em;
  width: 25%;
}

#ticket-form input[type="number"], option {
  background-color: lightblue;
}

#time-form #ticket-form, fieldset {
  border: blue solid 0.1em;
  width: 30%;
  margin: auto;
}

select.time-list,
select.ticket-list,
input.time-list,
input.ticket-list {
  display: block;
  box-sizing: border-box;
  text-align: inherit;
  padding: 0.5em;
  margin: auto;
  color: blue;
  background-color: lightblue;
  font-size: 0.75em;
}

#time-form #ticket-form, legend {
  font-size: 1em;
  display: grid;
  text-align: inherit;
  padding: 1.5em;
  margin: auto;
  border-radius: 0.5em;
  color: green;
}

#ticket-type:disabled {
  opacity: 0.5;
}

label[for="pick-date"],
label[for="pick-time"],
label[for="adult-tickets"],
label[for="ch-tickets"],
label[for="sr-tickets"] {
  font-size: 0.75em;
}

#ticket-max {
  color: blue;
  font-size: 0.5em;
  font-style: italic;
}

/* ===== Module Rules ===== */
.seat-page-header p {
  border-radius: 0.3125em;
  background: gray;
  color: #ffffff;
  margin: 1.875em;
  padding: 0.3125em;
  text-align: center;
}
.seat-map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main-seat-img {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1.25em;
}

#main-seat-img img {
  padding-left: 0.1875em;
  margin: 0.625em;
}

#main-seat-img figcaption {
  font-size: 0.75em;
}
.seat label{
  display: block;
}

.seat input {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.seat [for="companionone"],
.seat [for="companiontwo"] {
  background: black;
  color: #ffffff;
}
.seat [for="wheelchairone"],
.seat [for="wheelchairtwo"] {
  background: #40A6FA;
}
input[type="checkbox"]:checked ~ label {
  background: #cc0000;
  color: #ffffff;
}

#seats-display {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

/* ===== Module Rules ===== */
.seat label {
  background: gray;
  border: 0.0625em solid;
  border-radius: 0.1875em;
  cursor: pointer;
  font-size: 0.625em;
  height: 1.75em;
  margin-bottom: 0.5em;
  padding: 0.3em;
  text-align: center;
  width: 1.5em;
}

#sort-by h2 {
  background: #990000;
}

#sort-by label {
  color: #efefef;
  padding: 0.325em 0;
}

#sort-by select {
  border: none;
  border-radius: 0.325em;
  font-size: inherit;
  padding: 0.325em;
}

.movie-entry {
  border: solid 0.05em #CC0000;
}

.movie-entry a {
  text-decoration: none;
}

.movie-title {
  background: #CC0000;
  padding: 0.325em 0;
  text-align: center;
  color: #efefef;
}

.movie-info {
  font-size: 0.707em;
  padding: 0.325em;
}

.sort-by-select-entry {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  margin: 0 1em;
  row-gap: 0.325em;
}

/* ===== State Rules ===== */
@media screen and (min-width: 500px) {
  #seating-page {
    padding: 1.2222222222em;
    padding-top: 1.5em;
  }
  .seat label {
    font-size: 0.75em;
    height: 1.65em;
    width: 1.875em;
  }
@media screen and (min-width: 750px) {
  #seating-page {
    padding: 3.125em;
    padding-top: 1.5em;
  }
  .seat label {
    font-size: 0.80em;
    height: 1.8em;
    width: 2.875em;
  }
}

#expand-sort {
  color: #efefef;
  font-size: 0.5em;
  padding-left: 1.30039em;
  text-decoration: none;
}

#reset-sort.hidden,
#movie-list.hidden,
.hidden {
  display: none;
}

/* Indicate Sort-By heading is clickable when Expand/Hide toggle is visible */
.js #sort-by {
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  #movie-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 750px) {
  #movie-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  #body-select-movie {
    background: #990000;
  }

  #movie-list {
    grid-template-columns: repeat(5, 1fr);
  }

  #select-movie {
    display: flex;
    flex-flow: row wrap;
  }

  #select-movie-h2 {
    width: 100%;
  }

  #movie-list,
  #result-message {
    background: #efefef;
    flex: 1 0 70%;
  }

  #sort-by {
    height: 100%;
  }

  /* Hide show/hide toggle for Sort By feature */
  #expand-sort {
    display: none;
  }

  /* Show the Sort By feature */
  #reset-sort.hidden,
  #sort-by-movie.hidden {
    display: inherit;
  }

  /* Remove indication that Sort-By heading is clickable */
  .js #sort-by {
    cursor: default;
  }
}

/* ===== Theme Rules ===== */
