/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Reference for SMACSS organization for CSS: https://smacss.com/book/categorizing */

/* 20px font w/ 26px line-height (https://www.modularscale.com/?20&px&1.414)
    Base: 20px / 16px = 1.25em        26px / 20px = 1.3em
    +1: 28.28px / 20px = 1.414em      39px / 28.28px = 1.37907em
    +2: 39.988px / 20px = 1.9994em    52px / 39.988px = 1.30039em
*/

/* Color palette: http://paletton.com/#uid=1000u0kw0pB7AiY3tX3S5jcXV0R */

/* ===== Base Rules ===== */
body {
  display: block;
  font-size: 1.25em;
  line-height: 1.3em;
  font-family: sans-serif;
  background-color: #efefef;
}

h1 {
  font-size: 1.9994em;
  line-height: 1.30039em;
  background-color: #080000;
  color: #efefef;
  padding: 0.25008em 0.50015em;
}

h2 {
  font-size: 1.414em;
  line-height: 1.8387553041em; /* 1.2em */
  background-color: #cc0000;
  color: #efefef;
  padding: 0 0.70721em;
}

section, form {
  padding-bottom: 0.65em;
}

p {
  padding-top: 0.65em;
  padding-left: 1em;
}

label {
  padding-left: 1em;
}

#payment li {
  padding-top: 0.65em;
  padding-right: 1em;
}

img {
  display: block;
  max-width: 100%;
}

input, select {
  display: table;
  max-width: 95%;
  margin-left: 1em;
}

input[type="submit"] {
  font-size: 1em;
  border-radius: 0;
  width: 100%;
  padding: 0.325em 0;
  margin-top: 0.65em;
  background-color: #080;
  color: #fff;
}

input[type="submit"]:disabled {
  background-color: #030;
  color: #444;
}

.error + input {
  background-color: #ffd1d1;
}

/* ===== Layout Rules ===== */
#movie-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); /* TODO: Update to rel unit */
}

#sort-by {
  background: #990000;
}

#reset-sort {
  background: #efefef;
  border-radius: 0.325em;
  color: #CC0000;
  display: block;
  margin: 0 1em;
  padding: 0.325em 1em;
  text-decoration: none;
  text-align: center;
}

#result-message {
  padding-right: 1em;
}

/* ===== Module Rules ===== */

#sort-by h2 {
  background: #990000;
}

#sort-by label {
  color: #efefef;
  padding: 0.325em 0;
}

#sort-by select {
  border: none;
  border-radius: 0.325em;
  font-size: inherit;
  padding: 0.325em;
}

.sort-by-select-entry {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  margin: 0 1em;
  row-gap: 0.325em;
}

.hidden {
  display: none;
}

/* ===== State Rules ===== */

/* ===== Theme Rules ===== */
