/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Reference for SMACSS organization for CSS: https://smacss.com/book/categorizing */

/* Base Rules */

img {
  display: block;
  max-width: 100%;
}

/* Layout Rules */
#movie-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); /* TODO: Update to rel unit */
}

/* RULES FOR TIME & TICKETS - will reorder soon */
#time-form #ticket-form, h2 {
  text-align: center;
  padding-bottom: 2em;
}

#movie-date-selected {
  text-align: left;
  font-size: 0.75em;
}

#time-form #ticket-form, ul li {
  list-style: none;
  padding-bottom: 1.5em;
  text-align: center;
}

#show-time, #ticket-type {
  background-color: green;
  border-radius: 1em;
  color: white;
  float: center;
  cursor: pointer;
  font-size: 60%;
  min-height: 3em;
  width: 25%;
}

#ticket-form input[type="number"], option {
  background-color: lightblue;
}

#time-form #ticket-form, fieldset {
  border: blue solid 0.1em;
  width: 30%;
  margin: auto;
}

#time-form #ticket-form label, select, input {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 0.5em;
  margin: auto;
  color: blue;
  background-color: lightblue;
  font-size: 0.75em;
}

#time-form #ticket-form, legend {
  font-size: 1em;
  display: grid;
  text-align: center;
  padding: 1.5em;
  margin: auto;
  border-radius: 0.5em;
  color: green;
}

#ticket-type:disabled {
  opacity: 0.5;
}

label[for="pick-date"],
label[for="pick-time"],
label[for="adult-tickets"],
label[for="ch-tickets"],
label[for="sr-tickets"] {
  font-size: 0.75em;
}

/* END RULES FOR TIME & TICKETS - will reorder soon */

/* Module Rules */

/* State Rules */

/* Theme Rules */
